.FormContainer {
  position: relative;
  width: 90vw;
  max-width: 400px;
}

.FocusForm {
  margin-bottom: 35px;
}

.MainForm {
  padding-left: 10px;
}

.Image {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.DefaultImage {
  height: 60px;
  width: 60px;
  margin: 10px;
}

.AddImage {
  border-color: #007926;  
  border: solid;
  border-width: 1px;
  padding: 5px;
}

.AddImage > p {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0;
}

.ImageContainer {
  display: flex;
  justify-content: center;
}

.FormFile {
  margin-top: 15px;
  width: 200px;
}

.Buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.InnerButton {
  color: white;
}

.InnerButton:hover {
  color: #9c1576;
  text-decoration: none;
}

.Centre {
  display: flex;
  justify-content: center;
}

@media screen and (min-width:768px){
  .FocusForm {
    display: flex;
    margin-bottom: 0;
  }
  .ImageGroup {
    margin-bottom: 0;
  }
  .Group {
    display: flex;
  }
  .LongInput {
    width: 400px;
  }
  .ShortInput {
    width: 300px;
  }
  .FormContainer {
    position: relative;
    width: 90vw;
    max-width: 700px;
  }
}