.FocusContainer {
  padding: 5px;
  display: flex;
}

.Image {
  height: 90px;
  width: 90px;
  object-fit: cover;
  margin-right: 5px;
}

.Details {
  padding: 5px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  position: relative;
}

.Title {
  display: inline;
  font-weight: 600;
  font-size: 1.2rem;
  color: #3c159c;
  margin-bottom: 10px;
}

.Details > p {
  margin-bottom: 0;
}

.IconContainer {
  position: absolute;
  top: 60px;
  right: 0;
}

.SpinnerContainer {
  display: flex;
  padding: 10px;
}

.SpinnerContainer > p {
  margin-left: 10px;
}

.SpinnerContainer > h2 {
  margin-left: 10px;
}

@media screen and (min-width:768px){
  .Label {
    display: inline;
  }
  .Title {
    font-weight: 700;
    font-size: 1.4rem;
  }
  .IconContainer {
    top: 60px;
  }
  .FocusContainer {
    margin-bottom: 10px;
  }
}
