.MainContainer {
    position: relative;
    padding: 0;
    height: 70vh;
    width: 80vw;
}

.FocusContainer {
    border-color: #007926;  
    border-bottom: solid;
    border-width: 1px;
    width: 100%;
    height: 90px;
    padding: 5px;
}

h3 {
    font-size: 1.2rem;
}
.BackCross {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #9c1576;
}

.BackCross:hover {
    color: #3c159c;
}