.MainContainer {
  position: relative;
  padding: 0;
  height: 70vh;
  width: 95vw;
}

.FocusContainer {
  border-color: #007926;  
  border-bottom: solid;
  border-width: 1px;
  width: 100%;
  height: 110px;
  padding: 5px;
  overflow: auto;
}

.BodyContainer {
  padding: 10px 5px 10px 5px;
}

h3 {
    font-size: 1.2rem;
}
