.MainContainer {
  position: relative;
  padding: 0;
  height: 70vh;
  width: 95vw;
  max-width: 1000px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 102px 1fr
}

.FocusContainer {
  border-color: #007926;  
  border-bottom: solid;
  border-width: 2px;
  width: 100%;
  height: 102px;
  overflow: auto;
  box-sizing: border-box;
}

.LinkedDetailsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 200px;
  box-sizing: border-box;
  overflow: auto;
}

.DayToDayContainer {
  border-color: #007926;  
  border-left: solid;
  border-width: 2px;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}

.DayToDayContainer > h3 {
  color: #3c159c;
  font-weight: 700;
}

.DayToDayContainer > p {
  font-size: 0.9rem;
}

@media screen and (min-width:992px){
  .MainContainer {
    width: 90vw;
  }
  .LinkedDetailsContainer {
    grid-template-columns: 1fr 250px;
  }

}