.TitleContainer {
  margin-bottom: 30px;
  margin-top: 10px;
}

.Title {
  display: flex;
  justify-content: center;
}

.TitleContainer > h2 {
  color: #3c159c;
  font-size: 1.5rem;
  text-align: center;
}

.Logo {
  height: 40px;
  display: inline;
  vertical-align: bottom;
  margin-right: 10px;
}

.Intro {
  margin-bottom: 20px;
}

ul {
  padding-inline-start: 20px;
}

li {
  margin-bottom: 10px;
}

.ButtonContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.Button {
  color: #9c1576;
  background-color: #dfdcdc;
  border-color: #9c1576;
  border: solid;
  border-width: 2px;
}

.Button:hover {
  color: #3c159c;
  background-color: #dfdcdc;
  border-color: #3c159c;
  font-weight: 600;
}

@media screen and (min-width:768px){
  .ContentContainer {
    padding: 5px 20px 5px 20px;
    max-width: 1000px;
  }
}