.Header {
  background-color: #ebe9e9;
  height: 55px;
  align-items: normal;
}

.LogoContainer {
  display: flex;
}

.Logo {
  height: 39px;
  display: inline;
  vertical-align: bottom;
}

.LogoName {
  font-family: "Bebas Neue", sans-serif;
  color: #007926;
  display: inline-block;
  margin-bottom: 0;
  padding-top: 5px;
}

.LogoName:hover {
  color: #3c159c;
}

.Link {
  margin-bottom: 15px;
  color: black;
  font-size: 1.2rem;
}

.Link:hover {
  color: #3c159c;
  text-decoration: none;
}

.Active {
  color: #3c159c;
  font-weight: 700;
}

.NavLinks {
  position: fixed;
  top: 55px;
  right: 0px;
  padding: 10px 20px 5px 20px;
  background-color: #ebe9e9;
  text-align: left;
  border-bottom-left-radius: 5px;
}

@media screen and (min-width:768px){
  .Link {
    margin-left: 30px;
    margin-bottom: 0px;
  }
  .NavLinks {
    position: static;
  }
  .DesktopLinks{
    justify-content: flex-end;
  }
}