/* Styling of title */

.TitleContainer {
  margin-bottom: 30px;
  margin-top: 10px;
}
  
.Title {
  display: flex;
  justify-content: center;
}

.TitleContainer > h2 {
  color: #3c159c;
  font-size: 1.5rem;
  text-align: center;
}

.Logo {
  height: 40px;
  display: inline;
  vertical-align: bottom;
  margin-right: 10px;
}

/* Styling of content */

.ContentContainer {
  background-color: #f5f5f5;
  border-color: #007926;  
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 20px;
}

/* Styling to allow for different Mobile and desktop views */
.DesktopOnly {
  display: none;
  margin-top: 20px;
}

.MobileOnly {
  margin-top: 20px;
}

@media screen and (min-width:768px){
  .PageContainer {
    padding: 5px 20px 5px 20px;
  }
  .MobileOnly {
    display: none;
  }
  .DesktopOnly {
    display: block;
  }
}