.App {
  font-family: "Lato", sans-serif;
  background-color: rgba(0, 121, 38, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Main {
  padding: 70px 20px 20px 20px;
  flex-grow: 1;
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  color: #3c159c;
  font-weight: 600;
}

Button {
  color: #9c1576;
}