.App {
  font-family: "Lato", sans-serif;
  background-color: rgba(0, 121, 38, 0.6);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Main {
  margin-top: 60px;
  background-color: #f5f5f5;
  border: black;
  border-width: 2px;
  border-radius: 5px;
  flex-grow: 1;
}